<button [disabled]="btDisable">Enviar</button><br>
<button (click)="toggleButton()">Toggle Button </button>

<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate eligendi ipsam temporibus explicabo. Quos laudantium asperiores sint est ipsum fuga, porro aliquid dolorem in, accusantium natus consequuntur, distinctio reiciendis quas.</p>
</div>


<p>valid: {{nameInput.valid}}</p>
<p>valid: {{ageInput.valid}}</p>
<label for="nombre"> ingrese el nombre <input type="text"  required #nameInput="ngModel" [(ngModel)]="person.name" /> <br>
</label>
<label for="edad"> Ingrese la edad <input id="edad" type="number"  required #ageInput="ngModel" [(ngModel)]="person.age" /> <br>
</label>

<h1>Propiedades</h1>
<p>Edad {{person.age}}</p>
<button (click)="increseAge()">Age++</button>

<button [disabled]="btDisable">Enviar</button>
<p>Nombre {{person.name}}</p>
<label for="">ingrese nombre
  <input type="text" [value]="person.name" (keyup)="changeName($event)" /></label>
<img width="100" [src]="person.avatar" alt="avatar"><br>
<progress [max]="100" [value]="person.age"></progress><br>
<hr>

<h1>Hola Mundo</h1>
<h2>{{' hola mundo '}}</h2>
<p> 3+3= {{3+3}}</p>
<h3>Hola, Soy {{name}} y tengo {{age}}</h3>

